<h1 class="ui center aligned icon header">
  <i class="user md icon"></i>
  Doctors
</h1>
<h2><%= @doctors.length <= 0 ? 'No Doctors' : "" %></h2>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= link_to doctor.full_name, doctor %>
    </li>
  <% end %>
</ul>
