<h1><%= @doctor.full_name %></h1>
<%= link_to 'Appointments', doctor_appointments_path(@doctor) %>
<br />
<%= link_to 'Delete Doctor', @doctor, method: :delete, class: 'ui red button' %>
<%= link_to 'Edit Doctor Info', edit_doctor_path(@doctor), class: 'ui black button' %>


