<h1>All Appointments</h1>

<% @appointments.each do |appointment| %>
  <%= appointment.user.full_name %>
  <br />
  <%= appointment.date %>
  <br />
<% end %>

<ul>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
</ul>
